hr{
    width: auto;
    height: 10px;
    background-color: #9FC031;
    margin:0em;
    z-index: 1;
}
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjusted column widths */
    grid-template-rows: auto auto; /* Added another row */
    gap: 0;
    position: absolute;
    top: 0;
    margin: 0;
  }
  
  .grid-item {
    border: 1px solid #9FC031;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .grid-item:nth-child(3) {
    grid-column: 1 / span 2; 
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
  }
  
  .grid-item p {
    margin: 0;
  }

  .text{
    background-color: #102D3F;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    padding: 50% 10% 20% 10% ;
    font-size: 300%;

  }
  .btn{
    margin: 5%  8% 0 8%;
  }
  .vision{
    background-color: #102D3F;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    font-size: 300%;
    padding: 3% 20% 10% 20%;
    
  }
  .content{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    font-size: 50%;

  }
  span{
    font-size: 100%;
  }

  
/*.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    gap: 10px; 
  }
  
  .image {
    grid-column: 1 / span 2; 
    background-color: #f0f0f0;
  }
  
  .text {
    background-color: #102D3F;
  }
  
  .Vision {
    grid-row: 2; 
    background-color: #102D3F;
  }
  


*/


